body{
    text-align: center;
    background-color: #dee5e5ff;
}

.border{
    border: 1px solid black;
    background-color: white;
}

#flexbox{
    display: flex;
    flex-direction: row;
}

#itemOne{
    flex: 1;
}

#itemTwo{
    flex: 3;
}

header {
    background-color: #877b66ff;
}

main {
    margin-left: 60px;
    margin-right: 60px;
}

ul{
    list-style-type: none;
    margin-right: 4 0px;
}

footer {
    background-color:#352d39ff;
}

footer p {
    color: white;
}